In [1]:
#continuation to List Dattype

In [2]:
#range method 
#syntax: range(startvalue,stopvalue,stepcount)

In [11]:
#req -- print even no;s from 1-20
even_num=list(range(1,20,2))
print(even_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
y=list(range(1,20))
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [13]:
#req- print odd no's from 1-30
z=list(range(1,30,2))
print(z)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [15]:
#Introduction to Tupe Datatype
#an Immutable list is called tuple
#defining a tuple ----()

In [16]:
dimensions=(100,50)
print(dimensions)

(100, 50)

In [17]:
type(dimensions)

tuple

In [19]:
dimensions[0]=250

TypeError: 'tuple' object does not support item assignment

In [20]:
print(dimensions[1])

50

In [23]:
dimensions=(150,50)
print(dimensions)

(150, 50)

In [24]:
students=('vinay','venu','sharan','dinesh','prasanna')
print(students)
type(students)

('vinay', 'venu', 'sharan', 'dinesh', 'prasanna')

tuple

In [25]:
for s in students:
    print(s)

vinay
venu
sharan
dinesh
prasanna

In [26]:
for v in students:
    print(v.title())

Vinay
Venu
Sharan
Dinesh
Prasanna